.home-page__featured-title {
  margin-top: -2rem;
}

@media (max-width: 600px) {
  .home-page__featured-title {
    margin-top: 0.5rem;
  }

  .home-page__featured-title app-section-title {
    display: block;
  }
}
